<div id="dropdown" onclick="openclosenav()">
    <!-- Icon made by Freepik from www.flaticon.com -->
    <img id="dropdown-img" src="imgs/dropdown.png" alt="dropdown menu">
</div>
<header id="tocollapse">
    <nav>
        <div id="brand">
            <strong>HC</strong>
        </div>
        <div id="menu">
            <ul>
                <a href="#" class="nav-items" id="help-btn">
                    <li>Help</li>
                </a>
            </ul>
        </div>
        <div id="login-reg">
            <ul>
                <a href="/home"><button id="logout">Log Out?</button></a>
            </ul>
        </div>
    </nav>
</header>