<div id="chat-help">
    <span id="help-header">
        How can we help you?
    </span>
    <p id="help-msg">
    <ul>
        <a href="/change-credentials">
            <li>Change Credentials</li>
        </a>
        <a href="/contact">
            <li>Contact Us</li>
        </a>
    </ul>
    </p>
    <button id="close-btn">
        Close
    </button>
</div>