<div id="chat-help">
    <span id="help-header">
        How can we help you?
    </span>
    <div id="help-msg">
        <ul>
            <a href="/change-credentials/<%=currentUser._id%>">
                <li>Change Credentials</li>
            </a>
            <a href="/contact/<%=currentUser._id%>">
                <li>Contact Us</li>
            </a>
        </ul>
    </div>
    <button id="close-btn">
        Close
    </button>
</div>