<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header') %>
    <title>HamroCHAT - Home</title>
</head>

<body>
    <%- include('partials/chatHeader') %>
    <main>
        <div id="goup">
            <a href="#">
                <!-- Icon made by Pixel perfect from www.flaticon.com -->
                <img src="imgs/up.png" alt="TOP">
            </a>
        </div>
        <section id="chat">
            <%-include('partials/help')%>
            <div id="chat-container">
                <div id="chat-header">
                    <div id="chat-header-img">
                        <img src="imgs/me.JPG" alt="user-img">
                    </div>
                    <div id="chat-header-name">
                        Rujin Shrestha
                    </div>
                    <!-- Green if online, otherwise offline -->
                    <div id="chat-header-onoff">
                        <img src="imgs/online.svg" alt="Active">
                    </div>
                </div>
                <div id="chat-content">
                    <div id="chat-search">
                        <form action="">
                            <div id="chat-search-image">
                                <i class="fas fa-search"></i>
                            </div>
                            <input id="chat-search-bar" type="text"
                                placeholder="Select or search user to start chatting">
                        </form>
                    </div>
                    <div id="chat-users">
                        <div class="user">
                            <a href="/HamroCHAT-message">
                                <div class="user-img">
                                    <i class="far fa-user"></i>
                                </div>
                                <div class="name-status">
                                    <div class="name">
                                        Nishit Shah
                                    </div>
                                    <div class="status">
                                        <img src="imgs/online.svg" alt="Active">
                                        Active
                                    </div>
                                </div>
                            </a>
                            <div class="user-chat">
                                <a href="/HamroCHAT-user-profile"><i class="far fa-address-card"></i></a>
                            </div>
                        </div>
                        <div class="user">
                            <div class="user-img">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="name-status">
                                <div class="name">
                                    Sijan Shrestha
                                </div>
                                <div class="status">
                                    <img src="imgs/online.svg" alt="Active">
                                    Active
                                </div>
                            </div>
                            <div class="user-chat">
                                <a href=""><i class="far fa-address-card"></i></a>
                            </div>
                        </div>
                        <div class="user">
                            <div class="user-img">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="name-status">
                                <div class="name">
                                    Shubham Raj Bhattarai</div>
                                <div class="status">
                                    <img src="imgs/offline.svg" alt="offline">
                                    Offline
                                </div>
                            </div>
                            <div class="user-chat">
                                <a href=""><i class="far fa-address-card"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="validate.js"></script>

    </main>
</body>

</html>